/*
	Name: Jalpan Patel
	File: style.html
	Date: 20 June 2024
	This is the third part of the Assignment-3.
*/
/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

/* font imports */
/*Added @font-face declarations for Open Sans and Roboto Fonts*/
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.eot');
  src: url('fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/OpenSans-Regular.woff2') format('woff2'),
       url('fonts/OpenSans-Regular.woff') format('woff'),
       url('fonts/OpenSans-Regular.ttf') format('truetype'),
       url('fonts/OpenSans-Regular.svg#opensans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.eot');
  src: url('fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Roboto-Bold.woff2') format('woff2'),
       url('fonts/Roboto-Bold.woff') format('woff'),
       url('fonts/Roboto-Bold.ttf') format('truetype'),
       url('fonts/Roboto-Bold.svg#roboto') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Open Sans' serif;
  font-size: 10px;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
  /*letter spacing for headings*/
  letter-spacing: 2px;
}
h2 {
  /* this is the approx 32px for sub-headings*/
  font-size: 3.2rem;
}