/*
	Name: Jalpan Patel
	File: style.html
	Date: 18 June 2024
	This is the second part of the Assignment-3.
*/
  html {
  font-family: sans-serif;
}

/* Your CSS below here */
div {

  width: 200px;
  margin: auto;
  line-height: 10;



}
