/*
	Name: Jalpan Patel
	File: style.html
	Date: 18 June 2024
	This is the second part of the Assignment-3.
*/
  html {
  font-family: sans-serif;
}

/* Your CSS below here */
div {
  /*the is now assign the value to the height and width */
  /*this set the width of the element to 200 pixel*/
  width: 200px;
  /*this centers the element horizontally within the container*/
  margin: auto;
  /*this sets the heihght of each line of the text inside the element to 10 pixel*/
  line-height: 10;
  /*this sets the font size of text inside the element to 1.1 rem units as asked in the rubric*/
  font-size: 1.1rem;
  /*this centers the text horizontally within the element*/
  text-align: center;
  /*this sets the color of the text inside the element to white*/
  color: white;
  /*this adds a shadow to the text, with a 1-pixel horizontal offset
  a 1-pixel vertical offset, a 1-pixel blur radius, and a black color*/
  text-shadow: 1px 1px 1px black;

 /*the below code is border of the box*/
 border-radius: 10px;
 border: 1px solid #990000;
 /*this is for the background of the box*/
 background-color: red;
 background-image: linear-gradient(
  to top left,
  rgba(0,0,0,0.2),
  rgba(0,0,0,0.2) 30%,
  rgba(0,0,0,0)
 );

}
